* {
	box-sizing: border-box;
}


[data-arc] {
	:first-child {
		font-weight: 900;
	}
	:last-child {
		font-weight: 900;
	}
}


.title {
	font-size: 30px;
	line-height: 37px;
	color: #252e33;
	text-align: center;
	font-family: 'SantEliaRoughAlt-BoldThr', serif;
	padding: 20px;
	margin-bottom: 22px;
	position:relative;
	&:after {
		width: 171px;
		border-bottom: 1px solid #1f2020;
		content: "";
		display:block;
		margin: 22px auto 0 auto;

	}
	> span {
		display:block;
		@extend %brandon-grotesque;
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
}

h1.plain {
	font-size: 25px;
	font-weight: bold;
	text-align:center;
}

.button {
	border: 0;
	text-transform: uppercase;
	padding: 20px 35px 20px 20px;
	background: $lightRed;
	color:white;
	font-weight: bold;
	position:relative;
	outline: 0;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: mix($lightRed, black, 90%);
		color: white;
	}

	&:after, &:before {

		position: absolute;
		//pointer-events: none;
		width: 10px;
		height: 2px;
		background-color:white;
		top: 50%;
		right: 20px;
		content: "";
		transform-origin: 100% 50%;
	}

	&:after {
		transform: rotate(45deg);
	}
	&:before {
		transform: rotate(-45deg);

	}
}

.dots {
	background: image-url('icons/bullets.svg') no-repeat top left;
	width: 70px;
	height: 6px;
	background-size: cover;
	margin: 0 auto;
}

strong {
	font-weight: bold;
}

p.center {
	text-align:center;
}