.browserupgrade {
    display: none;
    background: url('../img/icons/bullets.svg') no-repeat center center;
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 99999;
    padding: 100px 30px 30px;
    margin: 0 auto;
    text-align: center;
}

.ltie10 {
    header,
    .menu,
    .burger,
    .auth,
    .button,
    .social,
    .spinner,
    .background-video {
        display: none !important;
    }

    .browserupgrade {
        display: block;
    }
}
