a {
    color: $lightRed;
    transition: color .1s $ease, border .1s $ease;
    &:hover {
        color: $darkRed;
        border-color: $darkRed;
    }

    &.low-key {
        font-weight: 500;
        color: $black;
        border-bottom: 2px solid $black;

        &:hover {
            border-color: $lightRed;
            color: $lightRed;
        }
    }
}

p {
    a {
        font-weight: bold;
        border-bottom: 2px solid $lightRed;
        &:hover {
            border-color: $darkRed;
        }
    }
}
