a {
    color: $lightRed;
    transition: color .1s $ease, border .1s $ease;
    &:hover {
        color: $darkRed;
        border-color: $darkRed;
    }
}

p {
    a {
        font-weight: bold;
        border-bottom: 2px solid $lightRed;
        &:hover {
            border-color: $darkRed;
        }
    }
}
