//delete maybe

.quote-list {
    list-style: decimal;
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 20px;

    > li {
        margin-bottom: 5px;
    }
}
//end delete


.u-quote-list {
    margin-bottom: 20px;

    > li {
        margin-bottom: 12px;
        font-weight: 500;
        font-style: italic;
    }
}

ol {
    list-style: decimal;
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 20px;

    &.numlist--simple {
        text-align: left;

        b {
            display: block;
        }

        li {
            line-height: 26px;
            margin-bottom: 12px;
        }
    }

    &.privacy {
        padding: 0 0 20px 20px;

        li {
            list-style: decimal;
            margin-bottom: 12px;

            ul {
                padding: 20px;

                li {
                    list-style: initial;
                }
            }
        }
    }
}


ul {
    &.list--simple {
        padding: 0 0 20px 20px;

        li {
            position: relative;
            margin-bottom: 10px;
            text-align: left;
            font-weight: 500;

            &:before {
                content: '';
                position: absolute;
                top: 0; left: 0;
                height: 8px; width: 8px;
                border: 2px solid $lightRed;
                border-radius: 100%;
                @include transform(translate3d(-20px, 100%, 0));
            }
        }
    }

    &.accordion.single {
        margin: 60px auto;
        h2 {
            font-weight: 500;
            font-style: italic;
        }

        > li {
            text-align: left;
        }

        li {
            &:after {
                display: none;
            }
        }
    }
}

