// font colours
$lightRed: #f16060;
$darkRed: #98201a;
$fontColour: #252e33;
$white: #ffffff;
$black: #252E33;

// fonts
$icon: 'icomoon';

// animations
$ease: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$transition: 300ms $ease;

// breakpoints
$breakpoint-default-feature: 'max-width';
$break-620 : 620px; // window padding collapses
$break-800 : 800px; // indicator folds down
$break-920 : 920px; // fake-email gets smaller.
$break-1024 : 1024px; // fake-email gets smaller.