// font colours
$lightRed: #f16060;
$darkRed: #98201a;
$hoverRed : #d95656;
$fontColour: #252e33;
$grey: #e6e6e6;
$darkGrey : #c5c5c5;
$forumGrey: #8E8E8E;
$hoverGrey: #d6d6d6;
$white: #ffffff;
$black: #252E33;

$blue-dark: #045F8D;
$blue-light: #0292C3;

// fonts
$icon: 'icomoon';
$social: 'social';

// animations
$ease: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$transition: 200ms $ease;

//gutter
$gutter: 20px;

// breakpoints
@include breakpoint-set('default feature', 'max-width');
$break-620 : 620px;

    // window paddi@ng collapses,
    // menu icon movs top left
    // question-nav moves to left and side
    // main logo turns responsive
    // auth login background turns white
    // dashboard titles go to centered
    // forum title aligns left;

$brk-xsmall : 400px;
    // dropdown arrow on dashboard: ; changes.

$brk-small : 500px;
    // content has text width 100%
    // dashboard headings collapse.

$brk-550 : 550px;
    //custom size for forum titles to stack.

$break-800 : 800px;
    // indicator folds down

$break-920 : 920px;
    // fake-email gets smaller.

$brk-medium : 920px;
    // poisitive affirmations stack.

$brk-1024 : 1024px;
    // form error messages go underneith forms.

$brk-large : 1120px;
    // visualise catergories stack.

$brk-xlarge : 1405px;
    // 'visualise' - image upload collapse

$break-1024 : 1024px;
    // fake-email gets smaller.

// global styles
.is-hidden-g {
    display: none;
}

.grey {
    color: #808080;
}

.red-light {
    color: $lightRed;
}
.margin-top {
    margin-top: 30px;
}

@mixin rotate-element($degrees) {
    -ms-transform: rotate($degrees); /* IE 9 */
    -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
    transform: rotate($degrees)
}