// font colours
$lightRed: #f16060;
$darkRed: #98201a;
$hoverRed : #d95656;
$fontColour: #252e33;
$grey: #e6e6e6;
$darkGrey : #c5c5c5;
$hoverGrey: #d6d6d6;
$white: #ffffff;
$black: #252E33;

// fonts
$icon: 'icomoon';

// animations
$ease: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$transition: 300ms $ease;

//gutter
$gutter: 20px;

// breakpoints
$breakpoint-default-feature: 'max-width';
$break-620 : 620px;
    // window padding collapses,
    // menu icon movs top left
    // question-nav moves to left and side
    // main logo turns responsive
    // auth login background turns white
    // dashboard titles go to centered

$brk-small : 500px;
    // content has text width 100%

$break-800 : 800px;
    // indicator folds down

$break-920 : 920px;
    // fake-email gets smaller.

$brk-medium : 920px;
    // poisitive affirmations stack.

$brk-1024 : 1024px;
    // form error messages go underneith forms.

$brk-large : 1120px;
    // visualise catergories stack.

$brk-xlarge : 1280px;
    // 'visualise' - image upload collapse

$break-1024 : 1024px;
    // fake-email gets smaller.