strong,b {
    font-weight: bold;
}

em,i {
    font-style: italic;
}

p {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
    word-wrap: break-word;

    &.center {
        text-align: center;
    }
    &.margin-top {
        margin-top: 24px;
    }
    &.left {
        text-align: left;
    }
}

.red {
    color: $lightRed;
}

mark {
    background-color: $black;
    color: $white;
    font-weight: 500;
}

h2.title {
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    margin: 45px 0 32px;
    text-align: center;
    &:before {
        display: none;
    }
}

h1.title {
    position: relative;
    font-size: 30px;
    line-height: 37px;
    color: #252e33;
    text-align: center;
    font-family: 'SantEliaRoughAlt-BoldThr', serif;
    padding: 0 20px 20px 20px;
    margin-bottom: 22px;

    &.module-page-title {
        max-width: 320px;
        margin: 0 auto 22px;
        line-height: 1;
    }

    &:after {
        width: 171px;
        border-bottom: 1px solid #1f2020;
        content: "";
        display:block;
        margin: 22px auto 0 auto;
    }

    > span {
        display:block;
        @extend %brandon-grotesque;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 500;
    }
}

h3 {
    font-size: 16px;
    margin: 30px 0 24px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 12px 0;
}

blockquote {
    color: $lightRed;
    font-size: 21px;
    //font-weight: 600; was 600, 500 looks better.
    font-weight: 500;
    font-style: italic;
    margin-bottom: 32px;
    padding: 23px;
    border: 2px solid transparent;
    border-image: linear-gradient(23deg, rgba(241,96,96,1) 0%, rgba(241,96,96,0) 70%);
    border-image-slice: 1;

    &.multiple {
        border-image: linear-gradient(23deg, rgba(241,96,96,1) 0%, rgba(241,96,96,0) 90%);
        border-image-slice: 1;

        ul {
            padding-left: 19px;
        }

        li {
            list-style: disc;
            border-bottom: 1px solid rgba($lightRed, 0.2);
            padding-bottom: 18px;
            margin-bottom: 18px;
            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    &.dark {
        border-image: linear-gradient(23deg, rgba($fontColour,.8) 0%, rgba($fontColour,0) 70%);
        border-image-slice: 1;
        color: $fontColour;
    }
}

.call-to-action {
    color: $lightRed;
    font-weight: bold;
    text-align:center;
    font-size: 25px;
}