.background-video {
    > .inner {
        width: 100%;
        height: 100%;
    }

    .video-wrapper {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .display-video {
        margin-left: 50%;
        transform: translate3d(-50%, 0, 0);
        backface-visibility: hidden;
        min-width: 100%;
        min-height: 100%;
    }

    .home-banner {
        z-index: 20;
        max-width: 500px;
        width: 100%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate3d(-50%,-50%, 0);

        img {
            width: 100%;
        }

        @include breakpoint($break-620) {
            width: 90%;
        }
    }
}

.intro-video {
    padding: 80px 40px;
    > .inner {

    }
}

[data-page=home] {
    .indicator {
        width: 50px;
        .forum-icon {
            display:none;
        }
    }
}

.account-creation {
    // > .inner {

    //     .next-section {

    //         .iecon {
    //             box-shadow: inset 0 0 0px 2px $lightRed;
    //         }
    //     }
    // }

    .content {
        max-width: 445px;
        width: 100%;
        text-align: center;

        p {
            text-align:center;
            font-size: 17px;
            line-height: 23px;
            margin-bottom: 15px;
        }
    }

    input {
        margin: 8px 0;
        height: 72px;
        width: 100%;
    }
}

span.resolution {
    display: block;
    text-decoration: underline;
    padding: 25px 0;
}

@import "questions";
@import "question-nav";