APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file


MODULE_LOCK_TIME=48

VIMEO_APP_ID=asdf
VIMEO_ACCESS_TOKEN=asdf