.container.about {
    background: url('../img/home-background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    min-width: 320px;

    @include breakpoint($break-620) {
        padding: 0;
    }

    @include breakpoint($brk-small) {
        width: 100%;
        padding: 0;
    }

    > .inner {
        background: rgba($white, 0.9);
        padding: 0 $gutter;

        @include breakpoint($break-620) {
            padding-top: 20px;
        }

        .content {
            position: relative;
            max-width: 920px;
            width: 100%;
            margin: 0 auto;
            font-size: 17px;
            line-height: 26px;
            color: $fontColour;
            padding: 60px 0;

            @include breakpoint($brk-small) {
                width: 100%;
                padding-top: 40px;
            }
        }
    }

    .dots {
        margin: 30px auto;

        @include breakpoint($brk-small) {
            margin: 40px auto;
        }
    }

    p {
        max-width: 445px;
        margin-left: auto;
        margin-right: auto;

        em {
            color: $lightRed;
            font-weight: 400;
        }

        &.mini-quote {
            font-weight: 500;
            position: relative;

            &:before,
            &:after {
                font-family:$icon;
                font-style: normal;
                position: relative;
                color: $black;
                font-size: 13px;
            }

            &:before {
                content: '\e62b';
                top: -5px;
                left: 0;
                padding-right: 8px;
            }

            &:after {
                content: '\e62a';
                bottom: 5px;
                margin-left: 5px;
            }
        }
    }

    .content-block{
        @include pie-clearfix();
        width: 100%;
        margin: 0 auto;
        max-width: 920px;
    }

    .col {
        float: left;
        width: 48%;

        @include breakpoint($break-800) {
            float: none !important;
            width: 100% !important;
        }

        &:nth-child(even) {
            float: right;
        }
    }
}

.testimonials-container {
    position: relative;
    padding-bottom: 90px;
    padding-top: 40px;

    .testimonial {
        float: left;
        width: 30%;
        text-align: center;

        @include breakpoint($break-800) {
            float: none !important;
            width: 90%;
            margin: 20px auto 40px;
        }

        &:nth-child(2) {
            margin: 0 5%;

            @include breakpoint($break-800) {
                margin: 20px auto 40px;
            }
        }

        &:last-child {
            float: right;
        }

        .name {
            position: relative;
            padding-bottom: 25px;
            font-weight: 500;

            &:after {
                position: absolute;
                content: '';
                height: 1px;
                width: 30px;
                top: 32px;
                background-color: $lightRed;
                left: 50%;
                margin-left: -15px;
            }
        }

        .quote {
            position: relative;
            font-style: italic;

            &:before,
            &:after {
                font-family:$icon;
                font-style: normal;
                position: absolute;
                color: $lightRed;
                font-size: 13px;
            }

            &:before {
                content: '\e62b';
                top: 0;
                left: 0;
                margin-left: -10px;
            }

            &:after {
                content: '\e62a';
                bottom: 3px;
                margin-left: 10px;
                //margin-right: -10px;
            }
        }
    }
}

.main-copy + .main-copy{
    padding-top: 60px;
}

.why-you-need {
    text-align: center;
    font-weight: 500;

    .why-you-need__node {
        .icon {
            position: relative;
            margin: 0 auto;
            height: 30px;
            width: 30px;

            &:after {
                position: absolute;
                content: "\e62c";
                font-family: $icon;
                margin-left: 50%;
                @include transform(translateX(-100%));
                top: 0;
                font-size: 24px;
                color: $black;
            }

            &.person {
                &:after {
                    $size : 24px;
                    content: '\e613';
                    font-size: $size;
                    width: $size;
                }
            }

            &.clarity {
                &:after {
                    content: '\e631';
                    $size : 24px;
                    font-size: $size;
                    width: $size;
                }
            }

            &.shield {
                &:after {
                    $size: 28px;
                    content: '\e628';
                    font-size: $size;
                    width: $size;
                }
            }

            &.bulb {
                &:after {
                    content: '\e625';
                }
            }

            &.heart {
                &:after {
                    $size : 24px;
                    content: '\e611';
                    font-size: $size;
                    width: $size;
                }
            }
        }
    }
}

.red-block {
    padding: 50px $gutter;
    @include pie-clearfix();
    background-color: $lightRed;
    color: $white;

    .content {
        margin: 0 auto;
        max-width: 920px;
    }

    .main-quote{
        font-size: 30px;
        text-align: center;
        font-style: italic;
        font-weight: 600;
        line-height: 39px;
        position: relative;
        transform: translateY(40%);

        &:before,
        &:after {
            position: absolute;
            content: '\e62b';
            height: 1px;
            width: 120px;
            top: -28px;
            background-color: #ffffff;
            left: 50%;
            margin-left: -60px;
        }

        &:after {
            content: '\e62a';
            height: 1px;
            width: 120px;
            top: inherit;
            bottom: -28px;
            left: 50%;
            margin-left: -60px;
        }
    }
}

.what-you-get {
    @include pie-clearfix();

    .what-you-get__node {
        border: 2px solid transparent;
        border-image: linear-gradient(23deg, rgba(241, 96, 96, 0.4) 0%, rgba(241, 96, 96, 0) 90%);
        border-image-slice: 1;
        padding: 30px 20px 20px;
        position: relative;
        color: #f16060;
        text-align: center;
        line-height: 26px;
        float: left;
        width: 49%;
        min-height: 210px;
        margin: 0 1% 1% 0;

        @include breakpoint($break-800) {
            width: 100% !important;
            float: none !important;
            height: auto;
        }

        &:nth-child(2) {
            display: block;
            margin: 0 0 1% 0;
        }

        .icon {
            color: $lightRed;
            padding-bottom: 10px;
            &:after {
                position: relative;
                font-family: $icon;
                //margin-left: 50%;
                @include transform(translateY(-100%));
                top: 0; left: 0;
                font-size: 29px;
            }

            &.gem {
                &:after {
                    content: '\e60c';
                }
            }

            &.sheild {
                &:after {
                    content: '\e628';
                }
            }

            &.book {
                &:after {
                    content: '\e60a';
                }
            }

            &.forum {
                &:after {
                    content: '\e62d';
                }
            }
        }
    }
}

.pricing-container {
    padding-bottom: 60px;

    .price {
        font-size: 50px;
        span {
            font-size: 15px;
            @extend %brandon-grotesque;
        }
    }
}