.container.about {
    //background: image-url('icons/bullets.svg') no-repeat top left;
    padding: 50px;

    @include breakpoint($brk-small) {
        width: 100%;
        padding: 40px $gutter;
    }

    header {
        padding-bottom: 50px;
    }

    > .inner {
        .content {
            position: relative;
            //max-width: 920px;
            width: 100%;
            margin: 0 auto;
            font-size: 17px;
            line-height: 26px;
            color: $fontColour;
            padding: 60px 0;

            @include breakpoint($brk-small) {
                width: 100%;
                padding-top: 40px;
            }
        }
    }

    .dots {
        margin: 30px auto;

        @include breakpoint($brk-small) {
            margin: 40px auto;
        }
    }

    .actions {
        text-align:center;
    }

    p {
        max-width: 445px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;

        em {
            color: $lightRed;
            font-weight: 400;
        }
    }
}

.header {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    background-color: $lightRed;
    color: $white;
    text-align: center;

    >.inner {
        max-width: 920px;
        margin: 0 auto;
        @include pie-clearfix();
    }

    h2 {
        font-weight: 500;
        position: relative;
        float: left;
        padding: 7px 20px;

        @include breakpoint($break-620) {
            font-size: 12px;
            text-align: left;
            padding: 7px 10px;
        }

        &:before {
            position: relative;
            font-family: $icon;
            content: "\e600";
            left: -4px;
            top: 4px;
            font-size: 24px;
        }
    }
}