.container.about {
    -webkit-perspective: 1;

    figure.about__paula {
        width: 100%;

        @include breakpoint($break-800) {
            width: 95%;
            margin: auto;
        }

        img {
            width: 100%;
            padding-bottom: 7px;
            height: auto !important;

            @include breakpoint($break-800) {
                padding-bottom: 24px;
            }
        }
    }

    .cols {
        -webkit-columns: 300px 2;
        -moz-columns: 300px 2;
        columns: 300px 2;
    }
}