.container.non-mod-page {
    background: image-url('home-background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    min-width: 320px;
    height: 100vh;
    width: 100%;
    display: table;

    @include breakpoint($brk-small) {
        width: 100%;
        padding: 0;
    }

    > .inner {
        background: rgba($white, 0.9);
        padding: 40px $gutter;
        height: 100%;
        width: 100%;
        display: table-cell;
        vertical-align: middle;

        @include breakpoint($break-620){
            padding-top: 80px;
            vertical-align: inherit;
        }

        .content {
            position: relative;
            max-width: 445px;
            width: 100%;
            margin: 0 auto;
            font-size: 17px;
            line-height: 26px;
            color: $fontColour;
            //padding: 60px 0;

            @include breakpoint($brk-small) {
                width: 100%;
                //padding-top: 40px;
            }
        }
    }

    input {
        margin: 8px 0;
        height: 72px;
        width: 100%;
    }
}