.container.privacy,
.container.terms {
    padding: 50px;
    min-width: 320px;

    @include breakpoint($brk-small) {
        width: 100%;
        padding: 40px 0;
    }

    header {
        padding-bottom: 50px;
    }

    > .inner {
        background: rgba($white, 0.9);
        padding: 0 $gutter;
        .content {
            position: relative;
            max-width: 620px;
            width: 100%;
            margin: 0 auto;
            font-size: 17px;
            line-height: 26px;
            color: $fontColour;
            padding: 30px 0;

            @include breakpoint($brk-small) {
                width: 100%;
                padding-top: 40px;
            }
        }
    }

    .dots {
        margin: 30px auto;

        @include breakpoint($brk-small) {
            margin: 40px auto;
        }
    }

    p {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;

        em {
            color: $lightRed;
            font-weight: 400;
        }

        &.mini-quote {
            font-weight: 500;
            &:before{}
            &:after{}
        }
    }

    .col {
        float: left;
        width: 48%;
        &:nth-child(even) {
            float: right;
        }
    }

    .content-block{
        width: 100%;
        @include pie-clearfix();
        max-width: 920px;
        margin: 0 auto;
    }

    ul.list--law {
        padding: 0 0 0 20px;

        li {
            list-style-type: lower-alpha;
            margin-bottom: 12px;

            ul {
                padding: 12px 0 20px 20px;
                li {
                    list-style-type: lower-roman;
                }
            }
        }
    }
}

ol.privacy-policy {
    >li {
        padding-left: 40px;
        @include breakpoint($brk-small) {
            padding: 0;
        }

        h4 {
            font-weight: 600;
            margin-bottom: 16px;

            + p {
                margin-bottom: 12px;
            }
        }

        ul {
            padding: 0 0 20px 20px;

            li {
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 12px;
                list-style-type: disc;
                padding-left: 30px;

                @include breakpoint($brk-small) {
                    padding: 0;
                }
            }
        }
    }
}
