.video-details {
    width: 700px;
    margin-left: -127px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 30px;

    @include breakpoint($brk-medium) {
        display: block;
    }

    .detail {
        width: 225px;
        height: 274px;
        border: 2px solid transparent;
        border-image: linear-gradient(23deg, rgba(241,96,96,.4) 0%, rgba(241,96,96,0) 90%);
        border-image-slice: 1;
        padding: 60px 20px 30px 20px;
        position:relative;
        color: $lightRed;
        text-align:center;
        line-height: 26px;

        .number {
            position:absolute;
            top: 6px;
            left: 10px;
        }

        @include breakpoint($brk-medium) {
            margin: 20px auto;
        }

    }
}

.video {
    @include transition(background-color $transition, color $transition, border $transition);
    position: relative;
    width: 260px;
    border: 2px solid #f16060;
    margin: auto;
    padding: 20px 30px;
    cursor: pointer;
    background-color: rgba($white,0.6);

    &.has-video {
        background-color: $lightRed;

        .upload {
            color: $white;

            .upload-icon {
                &:after {
                    content: '\e61d';
                    left: -7px;
                    font-size: 41px;
                }
            }
        }
    }

    input {
        position: absolute;
        width: 100%;
        top: 0; bottom: 0;
        left: 0; right: 0;
        opacity: 0;
        cursor: pointer;
        text-indent: -999999px;
    }

    &:hover:not(.has-video) {
        .upload {
            .upload-icon {
                transform: scale(1.1, 1.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 1);
            }
        }
    }

    .upload {
        text-align: center;

        .upload-status {
            font-weight: 600;
        }

        .upload-icon {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background: $lightRed;
            padding: 17px;
            margin: 0 auto;
            transform: scale(1, 1);
            transform-origin: 50% 50%;
            transition: transform 300ms ease;
            cursor: pointer;
            @include transition(background-color $transition);

            &:after {
                @include transform(translate3d(-50%, -50%, 0));
                position: relative;
                content: '\e62f';
                font-family: $icon;
                font-size: 27px;
                left: 1px; top: 2px;
                width: 30px;
                height: 25px;
                color: $white;
            }
        }
    }
}

.either-or {
    padding-top: 40px;

    &.letter-chosen {

        .video {
            border-color: $grey;
            color: $grey;
            background-color: rgba($white,1);
            opacity: 0.8;

            &:hover {
                .upload-icon {
                    transform: scale(1.1, 1.1) !important;
                }
            }

            input {
                cursor: default;
            }

            .upload {
                .upload-icon {
                    background: $grey !important;
                }
            }
        }

        .letter-container {
            form {
                @include transform(translateY(0));
                opacity: 1;
            }
        }
    }

    h2.title {
        margin: 80px auto;
    }

    .letter-container {
        position: relative;
        margin-left: -127px;
        margin-bottom: 60px;
        width: 700px;
        overflow: hidden;
        z-index: 1;

        @include breakpoint($brk-medium) {
            width: 100%;
            height: 230px;
            margin-left: auto;
        }

        textarea {
            width: 100%;
            height: 290px;
            margin: 0;
            background: $white;

            @include input-placeholder {
                color: $lightRed;
            }

            &:hover {
                background: $white;
                color: $lightRed !important;
            }

            @include breakpoint($brk-medium) {
                height: 230px;
            }
        }

        form {
            @include transform(translateY(-100%));
            @include transition(transform 200ms ease-out, opacity 250ms ease-out);
            position: relative;
            z-index: 2;
            opacity: 0;

            @include breakpoint($brk-medium) {
                width: 100%;
                margin-left: auto;
            }
        }

        .letter-trigger {
            @include transform(translateX(-50%));
            position: absolute;
            top: 0;
            margin-left: 50%;
        }
    }
}

