.video-details {
    width: 700px;
    margin-left: -127px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 30px;


    @include breakpoint($brk-medium) {
        display:block;
    }

    .detail {
        width: 225px;
        height: 274px;
        border: 2px solid transparent;
        border-image: linear-gradient(23deg, rgba(241,96,96,.4) 0%, rgba(241,96,96,0) 90%);
        border-image-slice: 1;
        padding: 60px 20px 30px 20px;
        position:relative;
        color: $lightRed;
        text-align:center;
        line-height: 26px;
        .number {
            position:absolute;
            top: 6px;
            left: 10px;
        }

        @include breakpoint($brk-medium) {
            margin: 20px auto;
        }

    }
}

.video {
    width: 700px;
    height: 290px;
    margin-left: -127px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include transition(background-color $transition, color $transition);

    &.has-video {
        background-color: $lightRed;

        .upload {
            color: $white;

            .upload-icon {
                &:after {
                    content: '\e61d';
                    left: -7px;
                    font-size: 41px;
                }
            }
        }
    }

    input {
        position:absolute;
        top: 0;
        left: 0;
        font-size: 999999px;
        opacity: 0;
        cursor: pointer;
    }

    &:hover:not(.has-video) {
        .upload {
            .upload-icon {
                transform: scale(1.1, 1.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 1);
            }
        }
    }

    .upload {
        text-align: center;

        .upload-icon {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background: $lightRed;
            padding: 17px;
            margin: 0 auto;
            transform: scale(1, 1);
            transform-origin: 50% 50%;
            transition: transform 300ms ease;
            cursor: pointer;

            &:after {
                position: relative;
                content: '\e62f';
                font-family: $icon;
                font-size: 27px;
                left: 1px; top: 2px;
                width: 30px;
                height: 25px;
                color: $white;
                @include transform(translate3d(-50%, -50%, 0));
            }
        }
    }
}

form.letter {
    width: 700px;
    margin-left: -127px;
    margin-bottom: 60px;

    textarea {
        width: 100%;
        height: 290px;
    }
}