@import url("//hello.myfonts.net/count/2e98a4");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../resources/assets/scss/core/_base.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../../resources/assets/scss/core/_base.scss */
[data-arc] :first-child {
  font-weight: 900;
}
/* line 10, ../../resources/assets/scss/core/_base.scss */
[data-arc] :last-child {
  font-weight: 900;
}

/* line 16, ../../resources/assets/scss/core/_base.scss */
.title {
  font-size: 30px;
  line-height: 37px;
  color: #252e33;
  text-align: center;
  font-family: 'SantEliaRoughAlt-BoldThr', serif;
  padding: 0 20px 20px 20px;
  margin-bottom: 22px;
  position: relative;
}
/* line 25, ../../resources/assets/scss/core/_base.scss */
.title:after {
  width: 171px;
  border-bottom: 1px solid #1f2020;
  content: "";
  display: block;
  margin: 22px auto 0 auto;
}
/* line 33, ../../resources/assets/scss/core/_base.scss */
.title > span {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* line 42, ../../resources/assets/scss/core/_base.scss */
h1.plain {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

/* line 48, ../../resources/assets/scss/core/_base.scss */
.button {
  border: 0;
  text-transform: uppercase;
  padding: 20px 35px 20px 20px;
  background: #f16060;
  color: white;
  font-weight: bold;
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
/* line 62, ../../resources/assets/scss/core/_base.scss */
.button:hover {
  background-color: #d85656;
  color: white;
}
/* line 67, ../../resources/assets/scss/core/_base.scss */
.button:after, .button:before {
  position: absolute;
  pointer-events: none;
  width: 10px;
  height: 2px;
  background-color: white;
  top: 50%;
  right: 20px;
  content: "";
  transform-origin: 100% 50%;
}
/* line 80, ../../resources/assets/scss/core/_base.scss */
.button:after {
  transform: rotate(45deg);
}
/* line 83, ../../resources/assets/scss/core/_base.scss */
.button:before {
  transform: rotate(-45deg);
}
/* line 88, ../../resources/assets/scss/core/_base.scss */
.button.success {
  background: none;
  border: 3px solid #f16060;
  color: #f16060;
  padding-right: 45px;
}
/* line 94, ../../resources/assets/scss/core/_base.scss */
.button.success:after, .button.success:before {
  background: #f16060;
  margin-top: 6px;
  right: 30px;
}
/* line 100, ../../resources/assets/scss/core/_base.scss */
.button.success:after {
  transform: rotate(45deg);
  width: 10px;
}
/* line 104, ../../resources/assets/scss/core/_base.scss */
.button.success:before {
  transform: rotate(135deg);
  width: 18px;
}

/* line 111, ../../resources/assets/scss/core/_base.scss */
.dots {
  background: url('../img/icons/bullets.svg?1436844418') no-repeat top left;
  width: 70px;
  height: 6px;
  background-size: cover;
  margin: 0 auto;
}

/* line 119, ../../resources/assets/scss/core/_base.scss */
strong {
  font-weight: bold;
}

/* line 122, ../../resources/assets/scss/core/_base.scss */
em {
  font-style: italic;
}

/* line 126, ../../resources/assets/scss/core/_base.scss */
p.center {
  text-align: center;
}

/* line 130, ../../resources/assets/scss/core/_base.scss */
.auth {
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 99;
  height: 50px;
  line-height: 50px;
}
/* line 137, ../../resources/assets/scss/core/_base.scss */
.auth a {
  color: #252e33;
  text-decoration: none;
  font-weight: normal;
}

@font-face {
  font-family: 'SantEliaRoughAlt-BoldThr';
  src: url('../fonts/2E98A4_0_0.eot?1436093214');
  src: url('../fonts/2E98A4_0_0.eot?&1436093214#iefix') format("embedded-opentype"), url('../fonts/2E98A4_0_0.woff2?1436093222') format("woff2"), url('../fonts/2E98A4_0_0.woff?1436093214') format("woff"), url('../fonts/2E98A4_0_0.ttf?1436093212') format("truetype");
}
/* line 8, ../../resources/assets/scss/core/_fonts.scss */
.title > span, input[type=text], input[type=email], input[type=password], textarea, body {
  font-family: "brandon-grotesque", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 1, ../../resources/assets/scss/core/_forms.scss */
input[type=text], input[type=email], input[type=password], textarea {
  background: #f16060;
  border: 0;
  display: block;
  color: white;
  box-shadow: inset 0 0 1px 4px rgba(152, 32, 26, 0);
  transition: background 0.2s ease;
}
/* line 9, ../../resources/assets/scss/core/_forms.scss */
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  outline: 0;
  background: #252e33;
}

/* line 14, ../../resources/assets/scss/core/_forms.scss */
input[type=text], input[type=email], input[type=password] {
  width: 250px;
  font-size: 17px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  height: 81px;
}
/* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=password]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
/* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
/* line 67, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
/* line 56, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 30, ../../resources/assets/scss/core/_forms.scss */
.checkbox-list li {
  margin-bottom: 20px;
}

/* line 35, ../../resources/assets/scss/core/_forms.scss */
form .actions {
  margin-top: 60px;
}

/* line 40, ../../resources/assets/scss/core/_forms.scss */
input[type=radio] {
  display: none;
}
/* line 42, ../../resources/assets/scss/core/_forms.scss */
input[type=radio] + label {
  position: relative;
  padding-left: 45px;
  color: #252e33;
  padding-top: 3px;
  font-weight: normal;
  display: inline-block;
  cursor: pointer;
}
/* line 50, ../../resources/assets/scss/core/_forms.scss */
input[type=radio] + label:before, input[type=radio] + label:after {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 55, ../../resources/assets/scss/core/_forms.scss */
input[type=radio] + label:after {
  transform-origin: 50% 50%;
  transform: scale(0, 0);
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #f16060;
  top: 8px;
  left: 8px;
  content: "";
  transition: transform 0.3s ease;
}
/* line 67, ../../resources/assets/scss/core/_forms.scss */
input[type=radio] + label:before {
  content: "";
  border: 4px solid #f16060;
  width: 26px;
  height: 26px;
  border-radius: 34px;
}
/* line 77, ../../resources/assets/scss/core/_forms.scss */
input[type=radio]:checked + label {
  font-weight: bold;
}
/* line 79, ../../resources/assets/scss/core/_forms.scss */
input[type=radio]:checked + label:after {
  transform: scale(1, 1);
}

/* line 91, ../../resources/assets/scss/core/_forms.scss */
textarea {
  width: 500px;
  height: 130px;
  padding: 25px;
  margin: 32px auto 0 auto;
  font-size: 20px;
  max-width: 100%;
}
/* line 61, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
/* line 64, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
/* line 67, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
/* line 56, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* line 103, ../../resources/assets/scss/core/_forms.scss */
.form-row {
  position: relative;
}
/* line 105, ../../resources/assets/scss/core/_forms.scss */
.form-row .parsley-errors-list {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #aeaeae;
  color: #aeaeae;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  margin-left: 20px;
  background: white;
  display: none;
}
/* line 119, ../../resources/assets/scss/core/_forms.scss */
.form-row .parsley-errors-list.filled {
  display: block;
}
/* line 123, ../../resources/assets/scss/core/_forms.scss */
.form-row .parsley-errors-list li {
  display: block;
}
/* line 127, ../../resources/assets/scss/core/_forms.scss */
.form-row .parsley-errors-list:after, .form-row .parsley-errors-list:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 138, ../../resources/assets/scss/core/_forms.scss */
.form-row .parsley-errors-list:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 9px;
  margin-top: -9px;
}
/* line 144, ../../resources/assets/scss/core/_forms.scss */
.form-row .parsley-errors-list:before {
  border-color: rgba(174, 174, 174, 0);
  border-right-color: #aeaeae;
  border-width: 10px;
  margin-top: -10px;
}
/* line 156, ../../resources/assets/scss/core/_forms.scss */
.form-row .arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
/* line 162, ../../resources/assets/scss/core/_forms.scss */
.form-row .arrow_box:before {
  border-color: rgba(174, 174, 174, 0);
  border-right-color: #aeaeae;
  border-width: 11px;
  margin-top: -11px;
}

/* line 1, ../../resources/assets/scss/core/_links.scss */
a {
  font-weight: bold;
  color: #f16060;
}
/* line 4, ../../resources/assets/scss/core/_links.scss */
a:hover {
  color: #98201a;
}

/* line 2, ../../resources/assets/scss/core/_module.scss */
.module > .module-section {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
/* line 10, ../../resources/assets/scss/core/_module.scss */
.module > .module-section > .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 17, ../../resources/assets/scss/core/_module.scss */
.module > .module-section.has-container {
  padding: 50px;
  z-index: 2;
}
/* line 20, ../../resources/assets/scss/core/_module.scss */
.module > .module-section.has-container > .inner {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  visibility: hidden;
  overflow: hidden;
}

/* line 36, ../../resources/assets/scss/core/_module.scss */
.has-text {
  padding: 40px 40px;
}
/* line 38, ../../resources/assets/scss/core/_module.scss */
.has-text.module-section > .inner {
  display: block;
}
/* line 46, ../../resources/assets/scss/core/_module.scss */
.has-text > .inner .content {
  width: 445px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 26px;
  color: #252e33;
  padding: 20px 0 60px 0;
}
/* line 58, ../../resources/assets/scss/core/_module.scss */
.has-text h1 > span {
  margin-bottom: 25px;
}
/* line 63, ../../resources/assets/scss/core/_module.scss */
.has-text h2 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 70, ../../resources/assets/scss/core/_module.scss */
.has-text p {
  opacity: 0.8;
  margin-bottom: 32px;
}
/* line 75, ../../resources/assets/scss/core/_module.scss */
.has-text .bold {
  font-weight: bold;
}
/* line 79, ../../resources/assets/scss/core/_module.scss */
.has-text .dots {
  margin-bottom: 60px;
  margin-top: 60px;
}
/* line 84, ../../resources/assets/scss/core/_module.scss */
.has-text blockquote {
  color: #f16060;
  font-size: 21px;
  margin-bottom: 32px;
  padding: 23px 23px 23px 23px;
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, #f16060 0%, rgba(241, 96, 96, 0) 70%);
  border-image-slice: 1;
  font-weight: bold;
}
/* line 94, ../../resources/assets/scss/core/_module.scss */
.has-text blockquote.multiple {
  border-image: linear-gradient(23deg, #f16060 0%, rgba(241, 96, 96, 0) 90%);
  border-image-slice: 1;
}
/* line 97, ../../resources/assets/scss/core/_module.scss */
.has-text blockquote.multiple li {
  border-bottom: 1px solid rgba(241, 96, 96, 0.2);
  padding-bottom: 18px;
  margin-bottom: 18px;
}
/* line 101, ../../resources/assets/scss/core/_module.scss */
.has-text blockquote.multiple li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
/* line 108, ../../resources/assets/scss/core/_module.scss */
.has-text blockquote.dark {
  border-image: linear-gradient(23deg, rgba(37, 46, 51, 0.8) 0%, rgba(37, 46, 51, 0) 70%);
  border-image-slice: 1;
  color: #252e33;
}
/* line 117, ../../resources/assets/scss/core/_module.scss */
.has-text .actions {
  text-align: center;
}

/* line 122, ../../resources/assets/scss/core/_module.scss */
.next-section {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate3d(-50%, 0, 0);
  z-index: 25;
  visibility: hidden;
  border: 0;
  transform-origin: 50% 50%;
}
/* line 136, ../../resources/assets/scss/core/_module.scss */
.next-section svg {
  width: 100%;
  height: 100%;
}
/* line 139, ../../resources/assets/scss/core/_module.scss */
.next-section svg path {
  fill: white;
  transition: fill 0.3s ease;
}

/* line 151, ../../resources/assets/scss/core/_module.scss */
.congrats-section h1 {
  margin-bottom: 40px;
  line-height: 26px;
}
/* line 155, ../../resources/assets/scss/core/_module.scss */
.congrats-section p {
  max-width: 442px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 26px;
}
/* line 161, ../../resources/assets/scss/core/_module.scss */
.congrats-section .actions {
  text-align: center;
  margin: 40px 0;
}

/* line 167, ../../resources/assets/scss/core/_module.scss */
.call-to-action {
  color: #f16060;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

/* line 176, ../../resources/assets/scss/core/_module.scss */
.actions {
  text-align: center;
}

/* line 179, ../../resources/assets/scss/core/_module.scss */
.down-arrow {
  border: 0;
  background: none;
  width: 45px;
  height: 45px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
/* line 188, ../../resources/assets/scss/core/_module.scss */
.down-arrow svg {
  width: 100%;
  height: 100%;
}
/* line 191, ../../resources/assets/scss/core/_module.scss */
.down-arrow svg path {
  fill: #f16060;
}

/* line 197, ../../resources/assets/scss/core/_module.scss */
.indicator {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 40px;
  width: 160px;
  z-index: 99;
  display: flex;
}
/* line 207, ../../resources/assets/scss/core/_module.scss */
.indicator .module-icon {
  width: 50px;
  height: 50px;
  background: #f16060;
  padding: 8px;
}
/* line 212, ../../resources/assets/scss/core/_module.scss */
.indicator .module-icon svg {
  width: 100%;
  height: 100%;
}
/* line 215, ../../resources/assets/scss/core/_module.scss */
.indicator .module-icon svg path {
  fill: white;
}
/* line 221, ../../resources/assets/scss/core/_module.scss */
.indicator .forum-icon {
  width: 120px;
  height: 50px;
  border: 2px solid #f16060;
  padding: 12px;
  font-size: 14px;
  color: #f16060;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}
/* line 232, ../../resources/assets/scss/core/_module.scss */
.indicator .forum-icon svg {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 238, ../../resources/assets/scss/core/_module.scss */
.indicator .forum-icon svg path {
  fill: #f16060;
}

/* line 1, ../../resources/assets/scss/ui/_burger.scss */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.98);
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 13, ../../resources/assets/scss/ui/_burger.scss */
.burger:hover svg path {
  fill: #f16060;
}
/* line 17, ../../resources/assets/scss/ui/_burger.scss */
.burger svg {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 8px;
  left: 8px;
}
/* line 24, ../../resources/assets/scss/ui/_burger.scss */
.burger svg path {
  transition: fill 0.7s ease;
  fill: #252e33;
}
/* line 28, ../../resources/assets/scss/ui/_burger.scss */
.burger svg#close-burger {
  display: none;
}

/* line 1, ../../resources/assets/scss/ui/_menu.scss */
.menu {
  position: fixed;
  z-index: 98;
  height: 100%;
  width: 295px;
  background: #252e33;
  padding-top: 126px;
  transform: translate3d(-295px, 0, 0);
  overflow: auto;
  display: none;
}
/* line 11, ../../resources/assets/scss/ui/_menu.scss */
.menu nav {
  padding-left: 50px;
  margin-bottom: 60px;
}
/* line 14, ../../resources/assets/scss/ui/_menu.scss */
.menu nav h2 {
  font-weight: bold;
  color: #aeaeae;
  text-transform: uppercase;
  margin-bottom: 33px;
}
/* line 23, ../../resources/assets/scss/ui/_menu.scss */
.menu nav ul li {
  font-size: 15px;
  color: #fbfbfb;
  margin-bottom: 15px;
}

/* line 3, ../../resources/assets/scss/pages/home/_home.scss */
.background-video > .inner {
  width: 100%;
  height: 100%;
}
/* line 8, ../../resources/assets/scss/pages/home/_home.scss */
.background-video .display-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/* line 16, ../../resources/assets/scss/pages/home/_home.scss */
.background-video .home-banner {
  z-index: 20;
  width: 700px;
}

/* line 28, ../../resources/assets/scss/pages/home/_home.scss */
.intro-video {
  padding: 80px 40px;
}

/* line 38, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation {
  padding: 40px;
}
/* line 43, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation > .inner .next-section {
  bottom: 60px;
}
/* line 46, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation > .inner .next-section svg path {
  fill: #f16060;
}
/* line 51, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation > .inner .next-section:hover svg path {
  fill: #98201a;
}
/* line 60, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation .content {
  width: 442px;
  text-align: center;
}
/* line 64, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation .content p {
  text-align: center;
  font-size: 17px;
  line-height: 23px;
  margin-bottom: 15px;
}
/* line 75, ../../resources/assets/scss/pages/home/_home.scss */
.account-creation input {
  margin: 8px 0;
  height: 72px;
  width: 100%;
}

/* line 92, ../../resources/assets/scss/pages/home/_home.scss */
body {
  overflow-y: scroll;
  color: #252e33;
  font-size: 17px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../resources/assets/scss/pages/home/_questions.scss */
.questions {
  padding: 40px 40px;
}
/* line 4, ../../resources/assets/scss/pages/home/_questions.scss */
.questions > .inner {
  overflow: hidden;
}
/* line 11, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 24, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content form {
  position: relative;
  display: inline-block;
}
/* line 27, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content form .parsley-errors-list {
  position: absolute;
  bottom: 2px;
  right: 5px;
  color: white;
  font-size: 14px;
}
/* line 35, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content p {
  text-align: center;
  font-size: 17px;
  line-height: 24px;
}
/* line 40, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls {
  text-align: center;
}
/* line 42, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls .age {
  font-size: 45px;
}
/* line 46, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls input[type=radio] {
  display: none;
}
/* line 48, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls input[type=radio] + label {
  position: relative;
  padding-left: 40px;
  text-transform: uppercase;
  color: #f16060;
  font-weight: 700;
  padding-top: 7px;
  display: inline-block;
  margin: 0 30px;
  cursor: pointer;
}
/* line 58, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls input[type=radio] + label:before, .questions .question .content .controls input[type=radio] + label:after {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 63, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls input[type=radio] + label:after {
  transform-origin: 50% 50%;
  transform: scale(0, 0);
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #f16060;
  top: 8px;
  left: 8px;
  content: "";
  transition: transform 0.3s ease;
}
/* line 75, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls input[type=radio] + label:before {
  content: "";
  border: 4px solid #f16060;
  width: 26px;
  height: 26px;
  border-radius: 34px;
}
/* line 86, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .content .controls input[type=radio]:checked + label:after {
  transform: scale(1, 1);
}
/* line 102, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .next-question {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -25px;
  opacity: 0.2;
  cursor: pointer;
}
/* line 112, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .next-question svg {
  width: 100%;
  height: 100%;
}
/* line 115, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .next-question svg path {
  fill: #f16060;
  transition: fill 0.3s ease;
}
/* line 122, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question .next-question:hover svg path {
  fill: #98201a;
}
/* line 131, ../../resources/assets/scss/pages/home/_questions.scss */
.questions .question-nav {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 30px;
  font-size: 20px;
  z-index: 20;
  visibility: visible;
}
/* line 141, ../../resources/assets/scss/pages/home/_questions.scss */
.questions.question-0 .question-nav {
  visibility: hidden;
}

/* line 2, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 16, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li {
  position: relative;
  display: block;
  margin: 8px 0px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  opacity: 0.8;
}

/* line 26, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: #f16060;
  text-indent: -999em;
  /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
}

/* line 39, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li a:focus {
  outline: none;
}

/* line 43, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li:last-child {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: 18px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  opacity: 1;
}

/* line 54, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li:last-child::after {
  content: '';
  position: absolute;
  top: -1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f16060;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 67, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li.is-active:first-child ~ li:last-child {
  transform: translateY(0%);
}

/* line 71, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li.is-active:nth-child(2) ~ li:last-child {
  transform: translateY(100%);
}

/* line 75, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li.is-active:nth-child(3) ~ li:last-child {
  transform: translateY(200%);
}

/* line 79, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li.is-active:nth-child(4) ~ li:last-child {
  transform: translateY(300%);
}

/* line 83, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li.is-active:nth-child(5) ~ li:last-child {
  transform: translateY(400%);
}

/* line 87, ../../resources/assets/scss/pages/home/_question-nav.scss */
.question-nav li.is-active:nth-child(6) ~ li:last-child {
  transform: translateY(500%);
}

/* line 3, ../../resources/assets/scss/pages/welcome/_welcome.scss */
.text-welcome form .actions {
  text-align: center;
  margin-top: 45px;
}

/* line 12, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion li {
  margin: 30px 0;
  position: relative;
}
/* line 16, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion li:after {
  width: 69px;
  border-bottom: 1px solid #d4d4d4;
  content: "";
  display: block;
  margin: 22px auto 0 auto;
}
/* line 25, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion li .answer {
  text-align: center;
  padding: 10px 0;
}
/* line 32, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion li.is-open .toggle svg.collapse {
  transform: translateY(0px);
}
/* line 35, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion li.is-open .toggle svg.expand {
  transform: translateY(50px);
}
/* line 39, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion li.is-open .answer {
  display: block;
}
/* line 43, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion .answer {
  display: none;
}
/* line 46, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}
/* line 51, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion h2 .toggle {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 60, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion h2 .toggle svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 67, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion h2 .toggle svg.collapse {
  transform: translateY(-50px);
}
/* line 70, ../../resources/assets/scss/pages/welcome/_welcome.scss */
ul.accordion h2 .toggle svg path {
  fill: #f16060;
}

/* line 2, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.boomerang .email-client {
  margin-bottom: 60px;
}
/* line 6, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.boomerang .actions {
  margin: 0 0 60px 0;
  padding-top: 28px;
}

/* line 12, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client {
  width: 722px;
  margin-left: -138.5px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: white;
}
/* line 19, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .header {
  height: 35px;
  background: linear-gradient(#ebeaeb, #d7d6d7);
  border-bottom: 1px solid #b5b4b5;
  padding: 0 10px;
  line-height: 35px;
}
/* line 25, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .header div {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
/* line 33, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .header div.close {
  background: #fc605b;
  border: 1px solid #ed534f;
}
/* line 37, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .header div.minimize {
  background: #fdbc40;
  border: 1px solid #edaf39;
}
/* line 41, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .header div.maxamize {
  background: #33c748;
  border: 1px solid #2dbb3e;
}
/* line 49, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .details {
  padding-left: 25px;
  color: #707070;
  border-bottom: 1px solid #c6c6c6;
}
/* line 53, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .details div {
  padding: 10px 0;
}
/* line 56, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .details .details-row, .email-client .details .cc-row {
  border-bottom: 1px solid #c6c6c6;
}
/* line 60, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
.email-client .message {
  padding: 25px;
}

/* line 65, ../../resources/assets/scss/pages/boomerang/_boomerang.scss */
p.annotation {
  color: #aeaeae;
  text-align: center;
}

/* line 3, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs {
  width: 695px;
  margin-left: -125px;
  margin-bottom: 30px;
}
/* line 7, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .beliefs {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* line 14, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief {
  width: 221px;
  height: 256px;
  position: relative;
  display: block;
}
/* line 22, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief label {
  position: absolute;
  top: 6px;
  left: 10px;
}
/* line 28, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief .icon {
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: none;
  border: 0;
  padding: 0;
}
/* line 39, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief .icon svg {
  width: 100%;
  height: 100%;
}
/* line 42, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief .icon svg path {
  fill: #f16060;
}
/* line 48, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief textarea {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  color: #252e33;
  text-align: center;
  font-style: italic;
  background: transparent;
  margin: 0;
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, #abafb1 0%, rgba(171, 175, 177, 0) 90%);
  border-image-slice: 1;
}
/* line 61, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief textarea:focus {
  background: #f16060;
  color: white;
  border: 0;
}
/* line 70, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief textarea:focus + .icon svg path {
  fill: white;
}
/* line 74, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .belief textarea:focus + .icon + label {
  color: white;
}
/* line 79, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.limiting-beliefs .actions {
  margin-top: 60px;
}

/* line 84, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.affirmations h1.plain {
  margin-bottom: 30px;
}

/* line 89, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations {
  width: 695px;
  margin-left: -125px;
}
/* line 92, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .positive-affirmations-fields {
  display: flex;
  justify-content: space-between;
}
/* line 97, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation, .positive-affirmations .the-belief {
  width: 221px;
  height: 256px;
  background-color: transparent;
  position: relative;
}
/* line 103, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-belief {
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, #abafb1 0%, rgba(171, 175, 177, 0) 90%);
  border-image-slice: 1;
  display: block;
  padding: 50px 25px 25px 25px;
  text-align: center;
  margin-bottom: 15px;
}
/* line 111, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-belief .number {
  position: absolute;
  top: 6px;
  left: 10px;
}
/* line 116, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-belief p.limiting-belief-text {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
}
/* line 123, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-belief strong {
  font-size: 14px;
}
/* line 131, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation label {
  position: absolute;
  top: 6px;
  left: 10px;
}
/* line 137, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation .icon {
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: none;
  border: 0;
  padding: 0;
}
/* line 148, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation .icon svg {
  width: 100%;
  height: 100%;
}
/* line 151, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation .icon svg path {
  fill: #f16060;
}
/* line 157, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 50px 20px;
  color: #252e33;
  text-align: center;
  font-style: italic;
  margin: 0;
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, #abafb1 0%, rgba(171, 175, 177, 0) 90%);
  border-image-slice: 1;
}
/* line 166, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation textarea:focus {
  background: #f16060;
  color: white;
  border: 0;
}
/* line 179, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation textarea:focus + .icon svg path {
  fill: white;
}
/* line 183, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .the-affirmation textarea:focus + label {
  color: white;
}
/* line 187, ../../resources/assets/scss/pages/un-stuck/_un-stuck.scss */
.positive-affirmations .actions {
  margin-top: 60px;
}

/* line 1, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories {
  width: 890px;
  margin-left: -222px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
/* line 8, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories .category {
  width: 286px;
  padding: 50px 25px 25px 25px;
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, rgba(37, 46, 51, 0.3) 0%, rgba(37, 46, 51, 0) 90%);
  border-image-slice: 1;
  color: #252e33;
}
/* line 15, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories .category i {
  height: 45px;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 20, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories .category i svg {
  height: 100%;
}
/* line 23, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories .category i svg path {
  fill: #f16060;
}
/* line 28, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories .category h3 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 22px;
}
/* line 33, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.categories .category p {
  font-size: 14px;
}

/* line 42, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.dreamboard h1.title:after {
  width: 37px;
}
/* line 46, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.dreamboard .board {
  margin-bottom: 60px;
}
/* line 49, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.dreamboard .button {
  position: relative;
  z-index: 20;
}

/* line 56, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
/* line 65, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 441px;
  height: 330px;
  padding: 30px 20px 20px 20px;
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, rgba(37, 46, 51, 0.5) 0%, rgba(37, 46, 51, 0) 90%);
  border-image-slice: 1;
  color: #252e33;
}
/* line 78, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .modal p {
  line-height: 26px;
  text-align: center;
}
/* line 82, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .modal .close {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f16060;
  padding: 12px;
  cursor: pointer;
}
/* line 91, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .modal .close svg {
  width: 100%;
  height: 100%;
}
/* line 94, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .modal .close svg path {
  fill: white;
}
/* line 101, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .row-4, .board .mid-row {
  padding: 20px 0;
}
/* line 104, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .row-4 {
  width: 862px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/* line 110, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .mid-row {
  display: flex;
  justify-content: space-between;
  width: 1085px;
}
/* line 114, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .mid-row .column {
  display: flex;
  width: 423px;
  justify-content: space-between;
}
/* line 121, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image {
  width: 195px;
  height: 129px;
  background: #e6e6e6;
  box-shadow: 0 0 30px rgba(37, 46, 51, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 130, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image.your-image {
  transform-origin: 50% 50%;
  transform: scale(1.3, 1.3);
}
/* line 135, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image img {
  width: 100%;
  height: 100%;
  display: none;
}
/* line 141, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image.has-image img {
  display: block;
}
/* line 144, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image.has-image .camera-icon {
  display: none;
}
/* line 149, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image .camera-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #f16060;
  padding: 17px;
}
/* line 155, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image .camera-icon svg {
  width: 100%;
  height: 100%;
}
/* line 158, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.board .image .camera-icon svg path {
  fill: white;
}

/* line 166, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.social {
  position: relative;
  z-index: 20;
  text-align: center;
  height: 17px;
  line-height: 17px;
  margin-top: 40px;
}
/* line 173, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.social a {
  display: inline-block;
  font-size: 12px;
  color: #252e33;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
  vertical-align: top;
  font-weight: normal;
}
/* line 183, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.social a:hover {
  color: #f16060;
}
/* line 186, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.social a:hover svg path {
  fill: #f16060;
}
/* line 191, ../../resources/assets/scss/pages/visualise/_visualise.scss */
.social a svg {
  height: 17px;
  display: inline-block;
  margin-right: 5px;
}

/* line 1, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video-details {
  width: 700px;
  margin-left: -127px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
/* line 8, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video-details .detail {
  width: 225px;
  border: 2px solid transparent;
  border-image: linear-gradient(23deg, rgba(241, 96, 96, 0.4) 0%, rgba(241, 96, 96, 0) 90%);
  border-image-slice: 1;
  padding: 60px 20px 30px 20px;
  position: relative;
  color: #f16060;
  text-align: center;
  line-height: 26px;
}
/* line 18, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video-details .detail .number {
  position: absolute;
  top: 6px;
  left: 10px;
}

/* line 28, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video {
  width: 700px;
  height: 290px;
  margin-left: -127px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  margin-bottom: 60px;
}
/* line 37, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video .upload {
  text-align: center;
}
/* line 39, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video .upload .upload-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #f16060;
  padding: 17px;
  margin: 0 auto;
}
/* line 46, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video .upload .upload-icon svg {
  width: 100%;
  height: 100%;
}
/* line 49, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
.video .upload .upload-icon svg path {
  fill: white;
}

/* line 57, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
form.letter {
  width: 700px;
  margin-left: -127px;
  margin-bottom: 60px;
}
/* line 61, ../../resources/assets/scss/pages/you-to-you/_you-to-you.scss */
form.letter textarea {
  width: 100%;
  height: 290px;
}

/* line 2, ../../resources/assets/scss/pages/gratitude/_gratitude.scss */
.gratitude-list input {
  width: 100%;
}
/* line 5, ../../resources/assets/scss/pages/gratitude/_gratitude.scss */
.gratitude-list li {
  margin-bottom: 20px;
}

/* line 2, ../../resources/assets/scss/pages/sustainable-change/_sustainable-change.scss */
.i-choose input {
  width: 100%;
}
