.i-choose {
    input {
        width: 100%;
    }
}

.i-am {
    h1.plain {
        margin-bottom: 25px;
    }
}

b.personal-habits-title {
    display: block;
}

blockquote.center{
    text-align: center;
    border-image: none;
}

.you-chose {
    font-size: 22px;
    span {
        display: block;
        font-size: 18px;
        margin-bottom: 12px;
    }
}