button.button {
    &.small {
        padding: 7px 15px;
        text-transform: inherit;

        &:after, &:before {
            display: none;
        }
    }
}


.button { //button with right arrow (to go somewhere) empty border and type.
    position:relative;
    text-transform: uppercase;
    padding: 20px 35px 20px 20px;
    letter-spacing: 0.02em;
    background: $lightRed;
    color: $white;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size: 15px;
    border: 0;
    margin-bottom: 20px;
    @extend %brandon-grotesque;


    &.small {
        padding: 5px 15px;
        text-transform: inherit;

        &:after, &:before {
            display: none;
        }
    }

    &:hover {
        background-color: mix($lightRed, black, 90%);
        color: white;

    }

    &:after, &:before {
        position: absolute;
        pointer-events: none;
        width: 10px;
        height: 2px;
        background-color:white;
        top: 50%;
        right: 20px;
        content: "";
    transform-origin: 100% 50%;
        transition: transform $transition, width $transition, right $transition, margin $transition, background-color $transition;
    }

    &:after {
        transform: rotate(45deg);
    }

    &:before {
        transform: rotate(-45deg);
    }

    &.success {
        background: none;
        border: 3px solid $lightRed;
        color: $lightRed;
        padding-right: 45px;

        &:after, &:before {
            background: $lightRed;
            margin-top: 6px;
            right: 30px;
        }

        &:after {
            transform: rotate(45deg);
            width: 10px;
        }

        &:before {
            transform: rotate(135deg);
            width: 18px;
        }
    }

    &.is-disabled {
        background: $darkGrey;
        cursor: default;
        color: #ECECEC;
        &:after, &:before {
            transform-origin: 50% 50%;
            width: 18px;
            margin-top: -2px;
            right: 10px;
            background-color: #ECECEC;
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:before {
            transform: rotate(45deg);
        }
    }

     &.is-locked {
        background: $darkGrey;
        cursor: default;
        color: #ECECEC;

        &:before {
            display: none;
        }

        &:after {
            content: '\e621';
            font-size: 15px;
            background-color: transparent;
            transform: rotate(0deg);
            position: relative;
            font-family: 'icomoon';
            left: 12px;
        }

        &:hover {
            background: $darkGrey;
            color: #ECECEC;
        }
    }
}


.iecon {
    $icon-size: 40px;
    box-shadow: 0 0 0px 2px #F16060;
    border-radius: 100%;
    height: $icon-size;
    width: $icon-size;
    position: relative;
    opacity: 1;
    margin: auto;
    transition: box-shadow $transition, opacity $transition;

    &:hover {
        box-shadow: 0 0 10px 5px rgba($white, 0);

        .iecon__arrow {
            transform: scale(1.3);
        }
    }

    &__arrow {
        width: $icon-size;
        height: $icon-size;
        transition: transform $transition;
        transform: scale(1);
        background: rgba($white, 0.6);
        border-radius: 100%;
    }
}

[data-current-section='1'] {
    .iecon__arrow {
        background: none;
    }
}
