.menu {
    $menu-grey: #959595;

    position:fixed;
    z-index: 98;
    height: 100%;
    width: 295px;
    background: $fontColour;
    padding-top: 115px;
    transform: translate3d(-295px, 0, 0);
    overflow:auto;
    display:none;

    nav {
        padding-left: 50px;
        margin-bottom: 60px;

        h2 {
            font-weight: bold;
            color: #aeaeae;
            text-transform: uppercase;
            margin-bottom: 33px;
        }
    }

    ul {
        li {
            position: relative;
            font-size: 15px;
            color: #fbfbfb;
            margin-bottom: 18px;
            padding-left: 30px;
            transition: color $transition;

            &.current-module {
                a {
                    color: #f16060;
                    font-weight: 600;

                    &:hover {
                        color: $white;
                    }
                }

                &:before {
                    color: $lightRed;
                }
            }

            &.completed-module {
                color: $menu-grey;
                &:before {
                    color: $menu-grey;
                }
            }

            &:before {
                $size: 15px;
                content: '\e62e';
                position: absolute;
                font-family: 'icomoon';
                font-size: $size;
                width: $size;
                height: $size;
                left: 0;
                top: -1px;
            }

            a {
                color: $white;
                border-bottom: 0;
                transition: color $transition;

                &:hover {
                    color: $menu-grey;
                }
            }

            &.ico-intro {
                &:before {
                    content: '\e62e';
                }
            }

            &.ico-account {
                &:before {
                    content: '\e613';
                }
            }

            &.ico-about {
                &:before {
                    content: '\e612';
                }
            }

            &.ico-contact {
                &:before {
                    content: '\e62d';
                }
            }

            &.ico-dash {
                &:before {
                    content: '\e618';
                }
            }

            &.ico-terms {
                &:before {
                    content: '\e627';
                }
            }

            &.ico-faq {
                &:before {
                    content: '\e633';
                }
            }

            // Home Module
            // person-brain
            &.ico-home {
                &:before {
                    content: '\e631';
                    left: 2px;
                }
            }

            // Welcome to Belief School
            &.ico-welcome {
                &:before {
                    content: '\e60a';
                }
            }

            // Module 1 - Know your Amazing Self
            // Stop-hand icon
            &.ico-boomerang {
                &:before {
                    content: '\e609';
                }
            }

            // Module 2 - Limiting Beliefs
            // Stop-hand icon
            &.ico-un-stuck {
                &:before {
                    content: '\e60b';
                }
            }

            // Module 3 - My Amazing Life
            // Diamond Icon
            &.ico-visualise {
                &:before {
                    content: '\e60c';
                }
            }

            // Module 4 - Fear and Courage
            // stop hand on side Icon
            &.ico-fear-courage {
                &:before {
                    content: '\e60d';
                }
            }

            // Module 5 - Who can you help?
            //
            &.ico-giving {
                &:before {
                    content: '\e60e';
                }
            }

            // Module 6 - Reach Out
            &.ico-gratitude {
                &:before {
                    content: '\e60f';
                }
            }

            // Module 7 - Where to From Here
            &.ico-sustainable-change {
                &:before {
                    content: '\e610';
                }
            }

            // Module 8 - Here I am
            &.ico-you-to-you {
                &:before {
                    content: '\e611';
                }
            }

            &.ico-locked {
                &:before {
                    content: "\e621";
                }
            }
            &.ico-unlocked {
                &:before {
                    content: "\e622";
                }
            }
        }
    }

}