.container.contact {
    background: url(../img/home-background.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    min-width: 320px;

    @include breakpoint($brk-small) {
        width: 100%;
        padding: 0;
    }

    > .inner {
        background: rgba($white, 0.9);
        padding: 0 $gutter;

        .content {
            position: relative;
            max-width: 920px;
            width: 100%;
            margin: 0 auto;
            font-size: 17px;
            line-height: 26px;
            color: $fontColour;
            padding: 60px 0;

            @include breakpoint($brk-small) {
                width: 100%;
                padding-top: 40px;
            }
        }
    }

    .dots {
        margin: 30px auto;

        @include breakpoint($brk-small) {
            margin: 40px auto;
        }
    }

    p {
        max-width: 445px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;

        em {
            color: $lightRed;
            font-weight: 400;
        }

        &.mini-quote {
            font-weight: 500;
            &:before{}
            &:after{}
        }
    }

    .col {
        float: left;
        width: 48%;
        &:nth-child(even) {
            float: right;
        }
    }

    .content-block{
        width: 100%;
        @include pie-clearfix();
        max-width: 920px;
        margin: 0 auto;

        .col {
            float: left;
            width: 48%;

            &:nth-child(even) {
                float: right;
            }
        }
    }

    .get-in-contact {
        padding-bottom: 30px;
        padding-top: 30px;
        .col {
            text-align: center;
        }
    }

    .main-copy,
    .terms-container {
        padding-bottom: 30px;

        blockquote {
            max-width: 445px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

.get-in-contact.social {
    ul.social--list {
        position:relative;
        z-index: 20;
        text-align:center;

        li {
            display: inline-block;
            font-size: 13px;
            color: $fontColour;
            cursor: pointer;
            margin: 0 10px;
            @include transition(color $transition);
        }

        a {
            color: $black;
                &:hover {
                    color: $lightRed;
                }

                &:before {
                    content: '';
                    font-family: $social;
                    font-size: 1.3em;
                    position: relative;
                    left: -4px; top: 0;
                }

                &.twit {
                    &:before {
                        content: '\7c';
                    }
                }

                &.pin {
                    &:before {
                        content: '\7d';
                    }
                }

                &.insta {
                    &:before {
                        content: '\7a';
                    }
                }

                &.fb {
                    &:before {
                        font-family: $icon;
                        content: '\e61f';
                    }
                }
            }

    }
}