[data-page="visualise"] {
    .content {
        @include breakpoint($brk-small) {
            width: 100%;
            max-width: 390px;
        }
    }
}

[data-page="share-visualise"] {
    .content {
        text-align: center;
        padding: 20px;

        img {
            width: 100%;
            max-width: 1200px;
        }
    }
}

.categories {
    width: 890px;
    margin-left: -222px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include breakpoint($brk-large) {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .category {
        width: 286px;
        padding: 50px 25px 25px 25px;
        border: 2px solid transparent;
        border-image: linear-gradient(23deg, rgba($fontColour,.3) 0%, rgba($fontColour,0) 90%);
        border-image-slice: 1;
        color: $fontColour;

        @include breakpoint($brk-large) {
            margin: 20px auto;
        }

        @include breakpoint($brk-small) {
            width: 100%;
        }

        i {
            height: 45px;
            display: inline-block;
            margin-bottom: 10px;

            svg {
                height: 100%;
                path {
                    fill: $lightRed;
                }
            }
        }

        h3 {
            font-weight:bold;
            font-size: 25px;
            min-height: 80px;
            margin: 0;
        }

        p {
            font-size: 14px;
        }

    }
}

.dreamboard {

    > .inner {
        align-items: inherit !important;
        background: url(../img/dreamboard-fix-blur.jpg) no-repeat center center #efefef !important;
        background-size: cover !important;
    }

    h1.title {
        color: $white;
        &:after {
            width: 37px;
            border-color: $white;
        }
    }

    .board {
        margin-bottom: 60px;
        @include pie-clearfix();
    }

    .button {
        position:relative;
        z-index: 20;
    }
}

.board {
    @include breakpoint($brk-xlarge) {
        margin: auto;
        width: 422px;
    }

    @include breakpoint($brk-small) {
        width: 100%;
    }

    .overlay {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(white, 0.95);
        z-index: 10;
        visibility: hidden;
    }

    .modal {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        width: 441px;
        height: 330px;
        padding: 30px 20px 20px 20px;
        border: 2px solid transparent;
        border-image: linear-gradient(23deg, rgba($fontColour,.5) 0%, rgba($fontColour,0) 90%);
        border-image-slice: 1;
        color: $fontColour;
        visibility: hidden;

        p {
            line-height: 26px;
            text-align: center;
        }

        .close {
            width: 38px;
            height: 38px;
            position:absolute;
            top: 0;
            right: 0;
            background-color:$lightRed;
            padding: 12px;
            cursor:pointer;
            svg {
                width: 100%;
                height: 100%;
                path {
                    fill: white;
                }
            }
        }
    }

    .row-4, .mid-row {
        padding: 20px 0;

        @include breakpoint($brk-xlarge) {
            display: block;
        }

        @include breakpoint($brk-xlarge) {
            padding: 10px 0;
        }

        @include breakpoint($brk-small) {
            padding: 0;
        }
    }

    .row-4 {
        width: 862px;
        margin: 0 auto;
        display: block;
        @include pie-clearfix();

        @include breakpoint($brk-xlarge) {
            width: 100%;
        }
    }

    .col {
        float: left;
        display: flex;
        justify-content: space-between;
        @include pie-clearfix();

        @include breakpoint($brk-xlarge) {
            float: none;
            width: 423px;
        }

        @include breakpoint($brk-small) {
            width: 100%;
            display: inline-block;
            margin-top: 0 !important;
        }

        .image {
            float: left;

            @include breakpoint($brk-small) {
                margin: 0 0 20px !important;
                width: 100%;
                float: none;
            }

            &:nth-child(2) {
                margin-left: 27.5px;
            }
        }

        &:nth-child(2){
            float: right;

            @include breakpoint($brk-xlarge) {
                margin-bottom: 0;
                margin-top: 20px;
            }
        }
    }

    .mid-row {
        display: flex;
        justify-content: space-between;
        width: 1085px;
        margin: auto;

        @include breakpoint($brk-xlarge) {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .image {
        width: 195px;
        height: 129px;
        background: rgba($grey, 0.9);
        box-shadow: 0 0 30px rgba($fontColour, 0.05);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: background-color $transition;
        backface-visibility: hidden;


        &:hover {
            background: rgba($grey, 1);

            .camera-icon {
                transform-origin: 50% 50%;
                transform: scale(1.1, 1.1);
                box-shadow: 0 0 30px rgba(255, 255, 255, 1);
            }
        }

        @include breakpoint($brk-xlarge) {
            width: 50%;
        }

        @include breakpoint($brk-small) {
            width: 100%;
            padding-top: 66.1%;
            height: auto;
            margin-bottom: 10px;
            margin: 20px 0;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 999px;
            opacity: 0;
            cursor:pointer;
        }

        &.image_main {
            transform-origin: 50% 50%;
            transform: scale(1.35, 1.35);
            position: relative;
            z-index: 2;
            background: $grey;

            @include breakpoint($brk-xlarge) {
                transform: scale(1, 1);
                width: 195px * 2 + 32px;
                height: 129px * 2 + 32px;
                margin: 20px auto;
            }

            @include breakpoint($brk-small) {
                width: 100%;
                padding-top: 66.1%;
                height: auto;
                margin-top: 0;
            }
        }

        img {
            width: 100%;
            height: 100%;
            display:none;
        }

        &.has-image {
            position: relative;
            img {
                display:block;
                position: absolute;
                top: 0;
                left: 0;
            }
            .camera-icon {
                display:none;
            }
        }

        .camera-icon {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background: $lightRed;
            padding: 17px;
            transition: transform $transition, box-shadow $transition;
            box-shadow: 0 0 30px rgba(37, 46, 51, 0);
            position: absolute;
            left: 50%; top: 50%;
            margin-left: -31px;
            margin-top: -31px;

            svg {
                width: 100%;
                height: 28px;
                path {
                    fill: white;
                }
            }
        }

        .loader {
            display:none;
            width: 62px;
            height: 62px;
            line-height: 62px;
            text-align: center;
            background: $lightRed;
            border-radius: 50%;
            color: $white;
            font-weight: 500;

        }

        &.is-loading {
            .loader {
                display:block;
            }
            .camera-icon {
                display:none;
            }
        }
    }
}

ul.social {
    position:relative;
    z-index: 20;
    text-align:center;
    margin-top: 40px;

    li {
        display: inline-block;
        font-size: 13px;
        color: $fontColour;
        cursor: pointer;
        margin: 0 10px;
        @include transition(color $transition);

        a {
            color: $black;
            &:hover {
                color: $lightRed;
            }

            &:before {
                content: '';
                font-family: $icon;
                font-size: 1.3em;
                position: relative;
                left: -4px; top: 0;
            }

            &.fb {
                &:before {
                    content: '\e61f';
                }
            }

            &.pin {
                &:before {
                    content: '\e620';
                }
            }

            &.dl {
                &:before {
                    content: '\e619';
                }
            }
        }



        // &:hover {
        //     color: $lightRed;
        // }
    }
}