.gratitude-list {
    input {
        width: 100%;
    }
    li {
        margin-bottom: 20px;

        label {
            text-align: center;
        }
    }
}


.content.daily {
    p {
        text-align: left !important;
    }
}