section.account-section {
    .content {
        width: 442px;
        text-align: center;

        p {
            text-align:center;
            font-size: 17px;
            line-height: 23px;
            margin-bottom: 15px;
        }
    }
}