ul.comments-list {
    margin-left: 0;

    @include breakpoint($break-620) {
        margin-left: 0 !important;
    }

    ul.comments-list {
        margin-left: 20px;
        margin-bottom: 40px;
        position: relative;

        &:before {
            position: absolute;
            font-family: $icon;
            content: "\e626";
            left: -17px;
            top: 0px;
            font-size: 12px;

            @include breakpoint($break-620) {
                left: 7px;
                font-size: 10px;
            }
        }

        ul.comments-list {
            margin-left: 20px;

            ul.comments-list {
                margin-left: 20px;

                ul.comments-list {
                    margin-left: 0;
                }
            }
        }
    }
}

li.comment {
    margin-top: 10px;
    img {
        max-width: 100%;
    }
    .inner {
        border: 2px solid $darkGrey;
        position: relative;
        padding: 20px;

        p {
            margin-bottom: 0;
            padding: 10px 0;
            color: $forumGrey;
            word-break: break-word;
        }
    }
}

form.comment-form {
    textarea {
        width: 100%;
        font-size: 17px;
    }
}

.comment-creation-date {
    position: absolute;
    font-size: 14px;
    color: $darkGrey;
    top: 20px;
    right: 20px;
}

.comment-username {

}
form.reply-form {
    textarea {
        width: 100%;
        font-size: 17px;
    }
}

form.reply-form {
    &.is-hidden {
        display: none;
    }
}

[data-page="forum"] {
    .forum-icon {
        display: none;
    }
}

label.comment-image-upload {
    @include transition(background $transition, color $transition);
    background: $lightRed;
    color: $white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 15px 4px 17px;
    margin-top: 3px;

    &:before {
        @include transform(rotate(180deg) translateY(0px));
        @include transition(transform $transition);
        content: '\e619';
        display: inline-block;
        font-family: $icon;
        position: relative;
        left: -8px; top: 0;
        transform-origin: 50% 50%;
    }

    &:hover {
        background-color: #d95656;

        &:before {
            @include transform( rotate(180deg) translateY(2px));
        }
    }

    input {
        left: -9999px;
        position: absolute;
    }
}