ul.comments-list {
    margin-left: 0;

    @include breakpoint($break-620) {
        margin-left: 0 !important;
    }

    ul.comments-list {
        margin-left: 20px;
        margin-bottom: 40px;
        position: relative;

        &:before {
            position: absolute;
            font-family: $icon;
            content: "\e626";
            left: -17px;
            top: 0px;
            font-size: 12px;

            @include breakpoint($break-620) {
                left: 7px;
                top: 25px;
                font-size: 10px;
            }
        }

        ul.comments-list {
            margin-left: 20px;

            ul.comments-list {
                margin-left: 20px;

                ul.comments-list {
                    margin-left: 0;
                }
            }
        }
    }
}

li.comment {
    margin-top: 10px;

    .inner {
        border: 2px solid $darkGrey;
        position: relative;
        padding: 20px;

        p {
            margin-bottom: 0;
            padding: 10px 0;
            color: $forumGrey;
        }
    }
}

form.comment-form {
    textarea {
        width: 100%;
        font-size: 17px;
    }
}

.comment-creation-date {
    position: absolute;
    font-size: 14px;
    color: $darkGrey;
    top: 20px;
    right: 20px;
}

.comment-username {

}
form.reply-form {
    textarea {
        width: 100%;
        font-size: 17px;
    }
}

form.reply-form {
    &.is-hidden {
        display: none;
    }

}

[data-page="forum"] {
    .forum-icon {
        display: none;
    }
}