$content-width: 620px;

.dash-background {
    background: url('../img/home-background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;

    @include breakpoint($break-620) {
        width: 100%;
        padding: 0;
    }
}

.dashboard-module {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px $gutter 60px;

    @include breakpoint($brk-small) {
        width: 100%;
    }

    h1.plain {
        margin-bottom: 25px;
    }

    header {
        padding-bottom: 30px;
    }

    > .inner {
        >.content {
            position: relative;
            width: 100%;
            margin: 0 auto;
            font-size: 17px;
            line-height: 26px;
            color: $fontColour;

            @include breakpoint($break-620) {
                width: 100%;
                padding-top: 40px;
            }

            .inner-padding {
                padding: 60px 0;

                .content-width{
                    margin: 0 auto;
                    max-width: $content-width;
                }
            }
        }
    }

    .dots {
        margin: 30px auto;

        @include breakpoint($brk-small) {
            margin: 40px auto;
        }
    }

    .actions {
        text-align:center;

        @include breakpoint($break-620) {
            width: 100%;
        }
    }

    p {
        max-width: $content-width;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;

        &.dashboard {
            color: #045F8D;
            font-size: 22px;
            font-style: italic;
            font-weight: 500;
            text-align: center;

            @include breakpoint($break-620) {
                font-size: 18px;
            }
        }

        em {
            color: #045F8D;
            font-weight: 500;
        }
    }

    .dashboard__sub-heading {
        text-align: center;
        color: $fontColour;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 6px;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
    }

    ul.list-content {
        text-align: center;
        max-width: $content-width;
        margin: auto;

        li {
            font-weight: 500;
            margin-bottom: 30px;
            color: #045F8D;
            font-size: 21px;
            font-style: italic;

            @include breakpoint($break-620) {
                font-size: 18px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: $black;
                display: block;
                font-size: 0.875rem;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                padding-bottom: 6px;
                font-weight: 700;
                font-style: normal;
                line-height: normal;

                &:nth-child(2) {
                    padding: 10px 0 6px;
                }
            }
        }
    }
}

.header {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    background-color: $lightRed;
    color: $white;
    text-align: center;

    >.inner {
        max-width: 920px;
        margin: 0 auto;
        @include pie-clearfix();
    }

    &.is-locked {
        background-color: transparent;
        color: $lightRed;

            ul.actions li.forum a.forum-icon {
                color: $lightRed !important;
                span {
                    color: $lightRed !important;
                }
            }

            ul.actions li.arrow {
                visibility: hidden;
            }

            ul.actions li.arrow {
                @include breakpoint($break-620) {
                    display: none !important;
                }
            }
    }

    h2 {
        font-weight: 500;
        position: relative;
        float: left;
        padding: 6px 20px;
        cursor:pointer;

        @include breakpoint(670px) {
            font-size: 14px;
        }

        @include breakpoint($break-620) {
            width: 100%;
            text-align: center;
            padding: 7px 10px;
        }

        &:before {
            position: relative;
            font-family: $icon;
            content: "\e632";
            left: -4px;
            top: 4px;
            font-size: 24px;
        }
    }
}

.tagcloud {
    height: 200px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: lowercase;
}

.small-dashboard {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 15px;
    text-transform: initial;
    border: 0;

    &:hover {
        border: 0;
    }
}

.module-home {
    &.page-icon:after {
        content: '\e632';
        left: 3px;
    }
}

ul.and-i-am {
    max-width: $content-width;
    margin: 0 auto;
    padding-bottom: 50px;
    @include pie-clearfix();

    li {
        color: $blue-dark;
        font-style: italic;
        margin-bottom: 8px;
        font-weight: 500;
        text-align: left;

        span {
            color: $black;
        }
    }
}

.module-welcome {
    &.module-icon:after,
    .page-icon:after {
        content: "\e601";
    }
}

.module-boomerang {
    h2:before {
        content: "\e600";
    }
    // used for module intro pages and forum incofcator links on the right hand side of modules.
    &.module-icon:after,
    .page-icon:after {
        content: '\e600';
    }
}

.module-un-stuck {
    h2:before{
        content: "\e602";
    }

    p {
        color: $blue-dark;
        font-weight: 500;
        font-size: 22px;
        font-style: italic;

        @include breakpoint($break-620) {
            font-size: 18px;
        }

        &:after {
            content:'”';
        }

        &:before {
            content:'“';
        }
    }

    &.module-icon:after,
    .page-icon:after {
        content: "\e602";
    }
}

.module-visualise {
    h2:before{
        content: "\e603";
    }

    &.module-icon:after,
    .page-icon:after {
        content: "\e603";
    }

    .content {
        img {
            width: 100%;
        }
    }
}

.module-fear-courage {
    h2:before{
        content: "\e604";
    }

    &.module-icon:after,
    .page-icon:after {
        content: "\e604";
    }
}

.module-giving {
    h2:before{
        content: "\e605";
    }

    &.module-icon:after,
    .page-icon:after {
        content: "\e605";
    }
}

.module-gratitude {
    h2:before{
        content: "\e606";
    }

    &.module-icon:after,
    .page-icon:after {
        content: "\e606";
    }

    ul.experience {
        max-width: $content-width;
        margin: 0 auto;
        padding-bottom: 50px;
        @include pie-clearfix();

        li {
            color: $blue-dark;
            font-style: italic;
            margin-bottom: 8px;
            font-weight: 500;
            text-align: center;

            span {
                color: $black;
            }
        }
    }
}

.module-sustainable-change {
    h2:before{
        content: "\e607";
    }

    &.module-icon:after,
    .page-icon:after {
        content: "\e607";
    }
}

.module-you-to-you {
    h2:before{
        content: "\e608";
    }
    &.module-icon:after,
    .page-icon:after {
        content: "\e608";
    }
}

ul.module-list {
    .content {
        max-width: 920px;
        margin: auto;
        font-style: 18px;
    }

    li {
        &.is-complete {
            .header.locked {
                background-color: transparent;
            }

            .actions {
                li.forum {
                    border-right: 1px solid #F89594 !important;

                    @include breakpoint($break-620) {
                        border: none !important;
                    }
                }

                @include breakpoint($brk-small) {
                    width: 100%;
                }
            }
        }

        &.is-unlocked {
            border-top: 1px solid $grey;

            .actions {
                li.forum {
                    border-right: 1px solid $grey;
                }
            }
        }

        &.is-not-complete {
            color: green;
        }

        &.is-locked {
            border-top: 1px solid $grey;

            .header {
                background-color: transparent;
                color: $darkGrey;
            }

            &:last-child {
                border-bottom: 1px solid $grey;
            }

            .actions {
                li.unlock-countdown {
                    padding: 8.5px 35px 8.5px 15px;

                    @include breakpoint($brk-small) {
                        width: 100%;
                    }

                    &:before {
                        left: 0;
                        top: inherit;

                        @include breakpoint($break-620) {
                            left: inherit;
                            top: 0;
                            position: relative;
                        }
                    }
                }

                li.arrow {
                    visibility: hidden;

                    @include breakpoint($break-620) {
                        display: none;
                    }
                }
            }
        }
    }
}

ul.actions {
    float: right;

    li {
        display: inline-block;

        &.arrow {
            padding: 8.5px 15px;
            background: transparent url('../img/dashboard-arrow.svg') center center no-repeat;
            position: relative;
            top: 3px;
            right: 3px;
            width: 40px;
            transform-origin: center center;
        }

        &.forum {
            padding: 8.5px 15px;
            border-right: 1px solid #F89594;

            @include breakpoint($break-620) {
                border: none;
            }

            a.forum-icon {
                font-size: 14px;
                color: white;
                font-weight: 500;
                text-transform: initial;
                position: relative;

                &:before {
                    position: absolute;
                    font-family: $icon;
                    content: "\e62d";
                    top: -1px;
                    font-size: 19px;
                    left: -28px;

                    @include breakpoint($break-620) {
                        position: relative;
                        top: 2px;
                        left: 0;
                    }
                }

                span {
                    line-height: 21px;

                    @include breakpoint($break-620) {
                        display: none;
                    }
                }
            }
        }

        &.unlock-countdown {
            font-size: 14px;
            text-transform: initial;
            font-weight: 500;
            position: relative;

            >.inner {
                height: 100%;

                @include breakpoint($break-620) {
                    display: none !important;
                }
            }

            &.unlocked {
                &:after {
                    content: "\e622";
                }
            }

            &:after {
                position: absolute;
                font-family: $icon;
                content: "\e621";
                font-size: 16px;
                right: 13px;
            }
        }
    }
}